body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(148, 45, 20);
}

#container {
    margin-top: 20%;
    width: 500px;
    height: 600px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 25px 30px rgb(53, 52, 52);
    border-radius: 10%;
}

#topRow {
    display: flex;
}

#middleTop {
    display: flex;
}

#middleBottom {
    display: flex;
}

#bottom {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 80px;
    border-radius: 20%;
    background-color: tan;
    margin: 10px;
    box-shadow: 10px 5px rgb(121, 89, 47);
}

.digit:hover {
    background-color: rgb(243, 171, 77) ;
}

.oper:hover {
    background-color: rgb(196, 228, 247);
}

.equal:hover, .clear:hover {
    background-color: rgb(196, 228, 247);
}

#display {
    background-color: black;
    width: 400px;
    height: 60px;
    margin-bottom: 20px;
    color: greenyellow;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.oper, .equal, .clear {
    background-color: rgb(149, 208, 241);
    box-shadow: 10px 5px rgb(4, 97, 141);
}